body{
    background-color: rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}
section{
    background-color: white;
    grid-column: 2/3;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}
img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
h4{
    color:blue;
}
h1{
   
}
h3{
    color:grey;
    margin-bottom: 0%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left:20px;
    margin-right:20px;
}
    h2{ 
     background-color: darkblue;
     color:white;
    font-size: 14px;
    grid-row: 5/6;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: 0%;
}
.bottom_left{
    border-right: 1px rgb(92, 92, 92) solid;
    border-bottom-left-radius: 20px;
}
.bottom_right{
    border-left: 1px rgb(92, 92, 92) solid;
    border-bottom-right-radius: 20px;
}
div{
    display:grid;
    grid-row: auto;
    font-size: 7px;
    margin-bottom:0%;
}