section {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.sunglasses{
    
}
.right{
    

}
.header{
    text-emphasis: bold;
    font-size:12px;
    color:lightgrey;
    background-color: blue;
    }

input{
    
}
.button{
    background-color: orange;
    color: black;
    border: 2px solid #008CBA;
}